.check-footer {
  padding: 30px;
  padding-bottom: 10px;
  .footer-top {
    display: flex;
    justify-content: space-between;
    h5 {
      display: inline-flex;
      img {
        height: 25px;
      }
    }
    .how-to-use {
      display: inline-flex;
      flex-direction: column;
      h6 {
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
        }
      }
    }
    .support {
      display: inline-flex;
      flex-direction: column;
      h6 {
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 10px;
        }
      }
    }
    .social {
      display: inline-flex;
      flex-direction: column;
      h6 {
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
    @media (max-width: 992px) {
      display: flex;
      flex-wrap: wrap;
      h5 {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        img {
        }
      }
      .how-to-use {
        display: inline-flex;
        h6 {}
        ul {
          li {}
        }
      }
      .support {
        display: inline-flex;
        h6 {}
        ul {
          li {}
        }
      }
      .social {
        display: inline-flex;
        h6 {}
        ul {
          li {}
        }
      }
    }
  }
  .footer-bottom {
    text-align: center;
    position: relative;
    margin-top: 80px;
    &.no-top {
      margin-top: 45px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 10px;
        a {
          color: $color-gray-dark;
          font-size: 11px;
        }
      }
    }
    .copy {
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      color: $color-gray-dark;
      font-size: 11px;
    }
    @media (max-width: 992px) {
      ul {
        li {
          a {
          }
        }
      }
      .copy {
        position: static;
      }
    }
  }
}
